*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#0b0b0f;
color:white;
padding:20px;
}

.topbar{
background:#13131a;
border:1px solid #26263a;
padding:15px;
border-radius:16px;
margin-bottom:20px;
box-shadow:0 0 20px rgba(111,0,255,0.25);
}

.logo{
font-size:28px;
font-weight:bold;
color:#9d5cff;
}

.subtitle{
color:#8d8d99;
margin-top:5px;
}

.search{
width:100%;
margin-top:15px;
padding:12px;
border:none;
outline:none;
border-radius:12px;
background:#1b1b26;
color:white;
font-size:15px;
}

.upload-btn{
width:100%;
margin-top:15px;
padding:14px;
border:none;
border-radius:14px;
background:#7d4dff;
color:white;
font-size:16px;
font-weight:bold;
cursor:pointer;
}

.card{
background:#13131a;
border:1px solid #26263a;
border-radius:18px;
padding:18px;
margin-top:15px;
}

.footer{
margin-top:30px;
text-align:center;
color:#6f6f80;
font-size:13px;
}